@model lab9kos.Models.ViewModels.AdminViewModels.AccountsOverzichtViewModel

@{
    ViewBag.Title = "Accounts overzicht";
    Layout = "_Layout";
}

<div class="full-width body-height">
    <div class="side body-height">
        <div class="side-content body-height">
            <div class="overzicht">
                <table class="rwd-table">
                    <tr>
                        <th>Voornaam</th>
                        <th>Naam</th>
                        <th>Email</th>
                    </tr>
                    @foreach (var g in Model.Gebruikers)
                    {
                        <tr>
                            <td data-th="Voornaam">@g.Voornaam</td>
                            <td data-th="Naam">@g.Naam</td>
                            <td data-th="Email">@g.Email</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>