

@model lab9kos.Models.ViewModels.AdminViewModels.WekenViewModel

@{
    ViewData["Title"] = "VerstuurMail";
}

<div class="full-width body-height">
    <div class="side body-height">
        <div class="side-content body-height">
            <h2>Stuur een mail met de werkuren van je slaafjes </h2>
            <form asp-action="VerstuurMail" method="post">
                <div class="form-group">
                    <input asp-for="Ontvanger" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea asp-for="Inhoud" cols="100" rows="10" class="form-control">
                    </textarea>
                </div>
                <div style="float:right">
                    <a asp-action="Index" class="btn btn-default"> Ga Terug</a>
                    <input type="submit" class="btn btn-primary" value="Verzend" />
                </div>
            </form>
        </div>
    </div>
</div>

