@model lab9kos.Models.ViewModels.TakenViewModels.IndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="full-width body-height">
    <div class="side body-height">
        <div class="side-content body-height">
            <div class="kanban">
                <div hidden>
                    <div id="dialog" title="Dialog Title">
                        <!--Begin Partial()-->
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <div>
                                        Super goed idee
                                    </div>
                                    <div>
                                        <button class="btn btn-danger" id="popup-close">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--actie/evenement(titel, id="id-header")
                            wie,
                            wat,
                            wanneer,
                            niveau van realisatie(welke kolom is de kaart aanwezig?)
                            bijsturing (opmerking van team),
                            feedback (naam lector + opmerking),
                            datum creatie,
                            datum wijziging-->
                            <div class="card-block">
                                <h4>actie/evenementTitel</h4>
                                <p>Wie</p>
                                <p>Wat</p>
                                <p>Wanneer</p>
                                <p>Bijsturing groep</p>
                                <p>feedback</p>
                                <small>datum creatie</small>
                                <small>datum wijziging</small>
                            </div>
                        </div>
                        <!--End Partial()-->
                    </div>
                </div>
                <div class="drag-container">
                    <ul class="drag-list">
                        <li class="drag-column drag-column-on-hold">
                            <span class="drag-column-header">
                                <h2>On Hold</h2>
                                <svg class="drag-header-more" data-target="options1" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                            </span>
                            <div class="drag-options" id="options1"></div>

                            <ul class="drag-inner-list" id="1">
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup1">
                                        <div>
                                            <p>This is some testing text. lorum ipsum dolor sit amet</p>
                                        </div>

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup2">
                                        <div>
                                            <h5>Titel</h5>
                                            <p>Hier komt mss de datum?</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="drag-column drag-column-in-progress">
                            <span class="drag-column-header">
                                <h2>In Progress</h2>
                                <svg class="drag-header-more" data-target="options2" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24">
                                    <path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                            </span>
                            <div class="drag-options" id="options2"></div>
                            <ul class="drag-inner-list" id="2">
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup3">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup4">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup5">

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="drag-column drag-column-needs-review">
                            <span class="drag-column-header">
                                <h2>Needs Review</h2>
                                <svg data-target="options3" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24">
                                    <path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                            </span>
                            <div class="drag-options" id="options3"></div>
                            <ul class="drag-inner-list" id="3">
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup6">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup7">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup8">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup9">

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="drag-column drag-column-approved">
                            <span class="drag-column-header">
                                <h2>Approved</h2>
                                <svg data-target="options4" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24">
                                    <path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                            </span>
                            <div class="drag-options" id="options4"></div>
                            <ul class="drag-inner-list" id="4">
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup10">

                                    </div>
                                </li>
                                <li class="drag-item">
                                    <div class="drag-item-inner" id="popup11">

                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="side-bar full-height">
            <form method="get" asp-action="Add" asp-controller="Taken">
                <button class="btn btn-outline-success" type="submit">Add Taak <i class="material-icons">note_add</i></button>
            </form>
        </div>
        <div class="side-toggle">
            <button class="full-height full-width">
                <i class="material-icons">menu</i>
            </button>
        </div>
    </div>
</div>


@section StyleSheets
{
    <link rel="stylesheet" href="~/css/taken.css" type="text/css"/>
}

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo="
            crossorigin="anonymous"></script>
    <script src="~/js/dragula.js"></script>
    <script src="~/js/taken.js"></script>
}