@using lab9kos.Models.ViewModels.TakenViewModels
@model lab9kos.Models.ViewModels.TakenViewModels.IndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="full-width body-height">
    <div class="side body-height">
        <div class="side-content body-height">
            <div class="kanban">
                <div class="drag-container">
                    <ul class="drag-list">
                        <li class="drag-column drag-column-on-hold">
                            <span class="drag-column-header">
                                <h2>On Hold</h2>
                            </span>
                            <ul class="drag-inner-list" id="1">
                                @foreach (var dragItem in Model.Todo)
                                {
                                    <li class="drag-item">
                                        @Html.Partial("_TaakKaart", new TaakKaartViewModel()
                                        {
                                            Taak = dragItem
                                        })
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="drag-column drag-column-in-progress">
                            <span class="drag-column-header">
                                <h2>In Progress</h2>
                            </span>
                            <ul class="drag-inner-list" id="2">
                                @foreach (var dragItem in Model.InProgress)
                                {
                                    <li class="drag-item">
                                        @Html.Partial("_TaakKaart", new TaakKaartViewModel()
                                        {
                                            Taak = dragItem
                                        })
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="drag-column drag-column-needs-review">
                            <span class="drag-column-header">
                                <h2>Needs Review</h2>
                            </span>
                            <ul class="drag-inner-list" id="3">
                                @foreach (var dragItem in Model.NeedsReview)
                                {
                                    <li class="drag-item">
                                        @Html.Partial("_TaakKaart", new TaakKaartViewModel()
                                        {
                                            Taak = dragItem
                                        })
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="drag-column drag-column-approved">
                            <span class="drag-column-header">
                                <h2>Approved</h2>
                            </span>
                            <ul class="drag-inner-list" id="4">
                                @foreach (var dragItem in Model.Done)
                                {
                                    <li class="drag-item">
                                        @Html.Partial("_TaakKaart", new TaakKaartViewModel()
                                        {
                                            Taak = dragItem
                                        })
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="side-bar full-height">
            <form method="post" asp-action="Add" asp-controller="Taken">
                <button class="btn btn-outline-success" type="submit">Add Taak <i class="material-icons">note_add</i></button>
            </form>
        </div>
        <div class="side-toggle">
            <button class="full-height full-width">
                <i class="material-icons">menu</i>
            </button>
        </div>
    </div>
</div>


@section StyleSheets
{
    <link rel="stylesheet" href="~/css/taken.css" type="text/css"/>
}

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo="
            crossorigin="anonymous"></script>
    <script src="~/js/toDict.js"></script>
    <script src="~/js/dragula.js"></script>
    <script src="~/js/taken.js"></script>
}