$text-color: #EAEAEA;
$nav-height: 56px;
$body-height: calc(100vh - #{$nav-height});

.margin-right-10 {
  margin-right: 10px;
}

.body-content {
  margin-top: $nav-height;
  height: $body-height;
  min-height: $body-height;
}

.full-width {
  width: 100%;

}

.full-height {
  height: 100%;
}

.side {
  display: flex;
  flex-direction: row;
  &-toggle {
    position: absolute;
    right: 5px;
    top: calc(#{$nav-height} + 5px);

    button {
      line-height: 0;
      width: 100%;
      height: 100%;
      padding: 5px;
      background-color: transparent;
      border: none;

      i {
        color: $text-color;
      }
    }
  }

  &-content {
    flex-grow: 5;
    background-color: blue;
  }

  &-bar {
    position: absolute;
    right: 0;
    background-color: red;
    display: none;
    max-height: $body-height;
    width: 20%;
  }
}

.temp-data {
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  p {
    flex-grow: 10;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .close {
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
