$text-color: #EAEAEA;
$black: #000;
$white: #FFF;
$body-bg-color: #EEEEEE;
$side-bg-color: #292b2c;
$overzicht-bg-color: #b4b4b4;
$border-tr-color: #ddd;
$nav-height: 54px;
$body-height: calc(100vh - #{$nav-height});
$toggle-button-height: 45px;
$breakpoint-alpha: 640px;
$shadow: 10px 10px 20px $side-bg-color;

.margin-right-10 {
  margin-right: 10px;
}

.body-content {
  margin-top: $nav-height;
  min-height: $body-height;
}

.full-width {
  width: 100%;

}

.full-height {
  height: 100%;
}

.body-height {
  min-height: $body-height;
}

.side {
  display: flex;
  flex-direction: row;

  &-toggle {
    position: absolute;
    right: 5px;
    top: calc(#{$nav-height} + 5px);

    button {
      line-height: 0;
      padding: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      i {
        color: $black;
      }
    }
  }
  .color-white {
    color: $white;
  }

  &-content {
    flex-grow: 5;
    background-color: $body-bg-color;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .week-wrapper {
      p {
        font-size: 2rem;
        text-align: center;
        a {
          font-weight: bold;

          &:nth-child(1) {
            margin-right: 25px;
            &:after {
              content: "<";
            }
          }
          &:nth-child(2) {
            margin-left: 25px;
            &:after {
              content: ">";
            }
          }
        }
      }
    }
  }

  &-bar {
    position: absolute;
    right: 0;
    background-color: $side-bg-color;
    display: none;
    padding: $toggle-button-height 10px 0 10px;
    width: 250px;
    color: $text-color;
    max-height: $body-height;
  }
}

.index {
  flex-grow: 2;
}

.unsubscribe {
  i {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.subscribe {
  i {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.temp-data {
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  p {
    flex-grow: 10;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .close {
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.rwd-table {
  //margin: 1em 0;
  min-width: 300px;
  box-shadow: $shadow;
  tr {
    border-top: 1px solid $border-tr-color;
    border-bottom: 1px solid $border-tr-color;
  }
  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;

  tr {
    border-color: lighten(#34495E, 10%);
    td:last-child {
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $border-tr-color;
        }
      }
    }
  }

  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  th, td:before {
    color: #dd5;
  }
}

.overzicht {
  ol {
    background-color: $overzicht-bg-color;
    box-shadow: $shadow;
    padding: 3rem 6rem;
    li {
      margin-top: 30px;
      font-size: 1.25rem;
      ul {
        li {
          margin: 0;
        }
      }
    }
  }
}

