@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="full-width full-height">
    <div class="side full-height">
        <div class="side-content full-height">
            <span>test</span>
        </div>
        <div class="side-bar full-height">
            <span>test</span>
        </div>
        <div class="side-toggle">
            <button>
                <i class="material-icons">menu</i>
            </button>
        </div>
    </div>
</div>