@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="full-page">
   
    <div class="side">
        <div class="side-content">
            <span>test</span>
        </div>
        <div class="side-bar">
            <span>test</span>
        </div>
    </div>
</div>