@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Geen toegang</h1>
    <p class="text-danger">U hebt geen machtigingen om deze functionaliteit te gebruiken.</p>
</header>
