.margin-right-10 {
  margin-right: 10px; }

.body-content {
  margin-top: 54px;
  min-height: calc(100vh - 54px); }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.body-height {
  min-height: calc(100vh - 54px); }

.side {
  display: flex;
  flex-direction: row; }
  .side-toggle {
    position: absolute;
    right: 5px;
    top: calc(54px + 5px); }
    .side-toggle button {
      line-height: 0;
      padding: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .side-toggle button:focus {
        outline: 0; }
      .side-toggle button i {
        color: #000; }
  .side .color-white {
    color: #FFF; }
  .side-content {
    flex-grow: 5;
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .side-content .week-wrapper p {
      font-size: 2rem;
      text-align: center; }
      .side-content .week-wrapper p a {
        font-weight: bold; }
        .side-content .week-wrapper p a:nth-child(1) {
          margin-right: 25px; }
          .side-content .week-wrapper p a:nth-child(1):after {
            content: "<"; }
        .side-content .week-wrapper p a:nth-child(2) {
          margin-left: 25px; }
          .side-content .week-wrapper p a:nth-child(2):after {
            content: ">"; }
  .side-bar {
    position: absolute;
    right: 0;
    background-color: #292b2c;
    display: none;
    padding: 45px 10px 0 10px;
    width: 250px;
    color: #EAEAEA;
    max-height: calc(100vh - 54px); }

.unsubscribe i {
  text-decoration: none; }

.unsubscribe:visited {
  text-decoration: none;
  color: inherit; }

.temp-data {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  z-index: 1000; }
  .temp-data p {
    flex-grow: 10;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .temp-data .close button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.rwd-table {
  min-width: 300px;
  box-shadow: 10px 10px 20px #292b2c; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 640px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 640px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden; }
  .rwd-table tr {
    border-color: #46637f; }
    .rwd-table tr td:last-child a {
      color: #FFF;
      text-decoration: none; }
      .rwd-table tr td:last-child a:hover {
        color: #ddd; }
  .rwd-table th, .rwd-table td {
    margin: .5em 1em; }
    @media (min-width: 640px) {
      .rwd-table th, .rwd-table td {
        padding: 1em !important; } }
  .rwd-table th, .rwd-table td:before {
    color: #dd5; }
